/* style001.css */

body
{
    overflow: hidden;
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
    font-family: Arial;
}

div
{
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
}

hr
{
    margin: 4;
    padding: 0;
}

label
{
    font-size: 20px;
    color: rgb(0, 255, 255);
}

button
{
    margin: 1px;
    padding: 9px;
    border: solid 1px rgb(100, 100, 100);
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: arial;
    font-size: 14.5px;
    font-weight: bold;
    color: rgb(247, 247, 247);
    text-indent: 0px;
    text-align: center;
    line-height: 0px;
    display: inline-block;
}

button:hover
{
    border-color: rgb(255, 255, 255);
}

button:active
{
    position: relative;
    top: 1px;
    border-color: rgb(255, 0, 255);
    color: rgb(255, 0, 255);
}

.bg
{
    z-index: -2;
    background-size: contain;
    background-image: url("src/media/texture/background/001.jpg");
}

/* chrome, safari scroll bars */
::-webkit-scrollbar
{
    width: 8px; /* width of vertical scrollbar */
    height: 8px; /* height of horizontal scrollbar */
}

::-webkit-scrollbar-track
{
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* firefox scroll bars */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 255, 255) rgb(0, 0, 0);
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2025 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

